# build artifacts
ebtestdocs/
ebapi/.tox/

# virtual envs
ebapi/venv
ebui/venv

# test artifacts
ebapi/assets/
ebapi/test.conf
ebapi/test-result.html
ebapi/.pytest_cache

# pycache files
**/__pycache__/