[defaults]
apiurl =
custid =
cloudadmin =
cloudadminpassword =
acctid =
clusterid =
domainid =
projectid =
setupname = Development
domainname = autodomain
projectname = autoproject
projectadmin = tenant
projectadminpassword = tenantpassword
projectmember = test
projectmemberpassword = test123

[remote]
host = vpn.edgebricks.in
username = ankit
password = ankit
port = 16022

[qos]
iperfserverip =
serusername =
serpassword =
serkeyfile =
iperfclientip =
vmusername =
vmpassword =
vmkeyfile =

