[defaults]
apiurl = https://api.staging.edgebricks.com
custid = EB-LAB
cloudadmin =
cloudadminpassword =
acctid =
clusterid =
domainid =
projectid =
setupname = staging
domainname = ebtestdomain
projectname = ebtestproject
projectadmin = ebtestAdmin
projectadminpassword = ebtestAdmin
projectmember = ebtestMember
projectmemberpassword = ebtestMember

[remote]
host = vpn.edgebricks.in
username = ankit
password = ankit
port = 16022

[qos]
iperfserverip =
serusername =
serpassword =
serkeyfile =
iperfclientip =
vmusername =
vmpassword =
vmkeyfile =

